*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: #f7ecde;
}
*::selection {
  background-color: #fec260;
  color: #352e28;
}
:root {
  --btn-visit-color: #9eb23b;
}
h1 {
  font-family: "Pacifico", "cursive";
  font-weight: 500;
  font-size: 3.125rem;
  /* margin-inline:auto; */
  text-align: center;
  position: relative;
}
h1::after {
  position: absolute;
  content: "";
  text-align: center;
  /* width: 81.5%; */
  width: 268px;
  height: 25%;
  background-color: #fec260;
  /* left: 500px; */
  left: 39.7%;
  bottom: 0.625rem;
  z-index: -5;
  transition: height 350ms;
}
h1:hover:after {
  height: 50%;
}
.Bookmarker-body {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}

.Bookmarker-body h2 {
  font-family: "Righteous", sans-serif;
  margin-inline: auto;
  font-weight: 500;
  font-size: 1.5625rem;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Bookmarker-body .btn-submit {
  width: 10rem;
}

.box-paragraph {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 21px;
}
.btn-visit {
  background-color: var(--btn-visit-color);
  color: #fff;
}
.btn-visit:hover {
  background-color: #9bb808;
  color: #fff;
}
input:focus {
  box-shadow: 0 0 3px 2px rgb(232, 129, 26) !important;
}

.light-contanier {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.light-contanier .box-msg {
  width: 28.125rem;
  height: 18.125rem;
  /* border: #882b1a solid 3px; */
}

.light-contanier .box-msg .box-body .box-paragraph {
  font-size: 20px;
  font-weight: 450;
}

.bg-icon {
  background-color: red;
  font-size: 20px;
  padding: 6px;
}
.padding-6 {
  padding: 6px;
}

#btnSubmit {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 991px) {
  h1::after {
    position: absolute;
    content: "";
    text-align: center;
    /* width: 81.5%; */
    width: 263px;
    height: 25%;
    background-color: #fec260;
    /* left: 500px; */
    left: 3.375rem;
    bottom: 0.625rem;
    z-index: -5;
    transition: height 350ms;
  }
}
